- manager = form.object
= form.fields_for :photo, manager.photo.blank? || manager.photo.new_record? ? manager.build_photo : manager.photo do |f|
  .controls
    .fileupload.fileupload-new data-provides="fileupload"
      .fileupload-new.thumbnail style="width: 200px; height: 125px;"
        = image_tag f.object.data.url
      .fileupload-preview.fileupload-exists.thumbnail style="max-width: 200px; max-height: 150px; line-height: 20px;"
      div
        span.btn.btn-file
          span.fileupload-new Выбрать Фото
          span.fileupload-exists Изменить
          = f.file_field :data
        a.btn.fileupload-exists data-dismiss="fileupload" href="#" Удалить
