@import "redactor/redactor";
@import "redactor/clips";
@import "admin/bootstrap-fileupload.min";
@import "admin/select2";

.redactor_box textarea{
  width: 100% !important;
}
.rails_admin .controls{
  .select2-search-field input, .select2-container{
    min-width: 330px;
  }
}
body.rails_admin .form-horizontal.denser .owner_field{
  label.control-label{
    width: 70px;
  }
  .controls{
    margin-left: 100px;
  }
}
