= form.text_area field.method_name, field.html_attributes.reverse_merge(:data => { :redactor => true }).reverse_merge((hdv = field.html_default_value).nil? ? { :value => field.formatted_value } : { :value => hdv })
javascript:
  $("textarea[data-redactor='true']").redactor({ lang: 'ru', plugins: ['textdirection', 'fullscreen', 'fontcolor', 'fontsize', 'fontfamily'],imageUpload: '/admin/wysiwyg_upload?authenticity_token=' + $("meta[name='csrf-token']").attr("content"), imageGetJson: '/admin/wysiwyg_loaded' })
