= form.fields_for form.object.owner || form.object.build_owner do |f|
  .control-group
    label.control-label Почта
    .controls
      = f.text_field :email, disabled: true, size: 50
  .control-group
    label.control-label Имя
    .controls
      = f.text_field :name, disabled: true, size: 50
  .control-group
    label.control-label Телефон
    .controls
      = f.text_field :phone, disabled: true, size: 50
