- real_estate_types = RealEstate::MainType.select(:id, :name).map{|ret| [ret.name, ret.id]}
= form.select :root_type_id, real_estate_types
javascript:
  $("#real_estate_product_root_type_id").select2();
