- real_estate_subtypes = RealEstate::SubType.select(:id, :name).map{|ret| [ret.name, ret.id]}
= form.select :sub_type_id, real_estate_subtypes
javascript:
  $("#real_estate_product_sub_type_id").select2();
