- real_estate_types = RealEstate::MainType.select(:id, :name).map{|ret| [ret.name, ret.id]}
= form.select :type_ids, real_estate_types, {}, multiple: true
javascript:
  $("#real_estate_product_type_ids").select2();
